/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
.Menu{
  background-color: darkred;
  line-height: 2em;
  color: white;
  font-weight: bold;
}
.menu-toggle{
  display: flex;
}
body {
  background: #fcc;
}
nav{
  flex-direction: column;
  display: none
}
a {
  color: aqua
}
 /*.Menu:hover + nav,
nav:hover{
  display: flex;
}*/



/* TABLET STYLES */


@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  nav{
    flex-direction: row;
    display: flex;
    padding-left: 1em;

  }
  body {
    background: #cfc;
  }
  .Menu{
    display: none;

  }
  a {
    color: darkorange;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
  a {
    color: white;
  }
}
